<div class="@($"col{(Size > 0).IIf($"-{Size}", "")}".Merge(Class))">
    @ChildContent
</div>

@code {
    [Parameter]
    public int Size { get; set; }

    [Parameter]
    public string Class { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}