<a href="@Href" target="@Target" rel="@Rel" class="@Class">
    @ChildContent
</a>

@code {
    [Parameter]
    public string Href { get; set; } = default!;

    [Parameter]
    public string Class { get; set; } = default!;

    [Parameter]
    public string Target { get; set; } = "_blank";

    [Parameter]
    public string Rel { get; set; } = "noopener noreferrer nofollow";


    [Parameter]
    public string Role { get; set; } = "button";

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}