<div class="table-responsive mt-4 pb-4 px-3">
    <table class="table table-borderless text-center table-sm mb-0">
        <thead>
            <tr>
                <th>Low</th>
                <th>Moderate</th>
                <th>Medium</th>
                <th>High</th>
                <th>Extreme</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="small">
                    Take normal precautions.
                    <p class="mt-2">
                        These locations have little to no restrictions on international and domestic travel as well as internal movement.
                    </p>
                </td>
                <td class="small">
                    Take normal precautions.
                    <p class="mt-2">
                        These locations have little to no restrictions on international and domestic travel as well as internal movement.
                    </p>
                </td>
                <td class="small">Exercise caution.
                    <p class="mt-2">
                        These locations have partially restricted international travel, but little to no restrictions on domestic travel and internal movement.
                    </p>
                </td>
                <td class="small">
                    Reconsider your need to travel.
                    <p class="mt-2">
                        These locations have severely restricted international travel and partially restricted domestic travel and internal movement.
                    </p>
                </td>
                <td class="small">
                    Defer non-essential travel.
                    <p class="mt-2">
                        These locations have severely restricted international and domestic travel as well as internal movement.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>