<div class="table-responsive mt-4 pb-4 px-2">
    <table class="table table-borderless caption-top text-center table-sm mb-0">
        <caption class="text-center">This level is calculated based on the number of new infections in the past seven days per 100,000 people. The data is sourced from Johns Hopkins University.</caption>
        <thead>
            <tr>
                <th>Low</th>
                <th>Moderate</th>
                <th>Medium</th>
                <th>High</th>
                <th>Extreme</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0-5</td>
                <td>5-25</td>
                <td>25-50</td>
                <td>50-100</td>
                <td>100+</td>
            </tr>
        </tbody>
    </table>
</div>