<div class="table-responsive mt-4 pb-4 px-2">
    <table class="table table-borderless text-center table-sm mb-0">
        <thead>
            <tr>
                <th>Low</th>
                <th>Moderate</th>
                <th>Medium</th>
                <th>High</th>
                <th>Extreme</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="small" style="width:12%;">Not currently used.</td>
                <td class="small" style="width:22%;">Intra- and Inter-region travel allowed.</td>
                <td class="small" style="width:22%;">Mostly free intra-region travel, with limited travel between regions allowed.</td>
                <td class="small" style="width:22%;">Some intra-region travel is allowed, but stay-at-home is widely encouraged.</td>
                <td class="small" style="width:22%;">Travel and movement only allowed for essential tasks and medical care.</td>
            </tr>
        </tbody>
    </table>
</div>