<div class="@("row".Merge(Class))">
    @ChildContent
</div>

@code {
    [Parameter]
    public string Class { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;
}